footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    margin-left: 250px;
    margin-bottom: 20px;
  }
.navbar-img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 15px;
}
.body-homepage {
    background-image: url('/static/imgs/background_img.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment:fixed;
    
}
.body-gallery {
    background-image: url('/static/imgs/background_img2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment:fixed;
}
.card {
    margin-top: 16px;
    margin-right: 20px;
    border-width: 2px;
    float: right
}
.card-header {
    text-align: center;
}
.card-img {
    width: 284px;
    height: 240px;
}
.album-title {
    margin-top: 16px;
    margin-bottom: 0px;
    margin-right: 20px;
    text-align: right;
    color:snow;
}