{% extends 'core/base.html' %}
{% block background %}
  <body class="body-gallery ">
{% endblock %}
{% block content %}
    <div class="album-title">
        <h4 class="album-title">{{ album.title }}</h4>
    </div>
    {% for image in images %}
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">{{ image.title }}</div>
        <div class="card-body">
            <img class="card-img" src="{{ image.image.url }}" alt="img">
        </div>
    </div>
    {% endfor %}
{% endblock %}