{% extends 'core/base.html' %}
{% block content %}
    <div class="gallery">
        <div class="album-title">
            <h4>{{ album.title }} / page no [ 4 ]</h4>
            <a class="btn btn-outline-primary" href="">Previous</a>
            <a class="btn btn-outline-primary" href="">Next</a>
        </div>
        {% for image in images %}
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">{{ image.title }} /  image no. {{ image.id }}</div>
                <div class="card-body">
                    <img class="card-img" src="{{ image.image.url }}" alt="img">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}